<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class='active' id="sidebar" th:fragment="sidebar"><!--sidebar-->
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <img alt="" src="assets/images/logo.svg" srcset="">
    </div>
    <div class="sidebar-menu">
      <ul class="menu">


        <li class='sidebar-title'>Cadastros</li>

        <li class="sidebar-item active ">
          <a class='sidebar-link' href="/cursos">
            <i data-feather="tag" width="20"></i>
            <span>Cursos</span>
          </a>
        </li>

        <li class="sidebar-item ">
          <a class='sidebar-link' href="/usuarios">
            <i data-feather="user" width="20"></i>
            <span>Usuários</span>
          </a>
        </li>

        <li class="sidebar-item ">
          <a class='sidebar-link' href="/turmas">
            <i data-feather="users" width="20"></i>
            <span>Turmas</span>
          </a>
        </li>

      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
</body>
</html>